html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Open Sans';
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4d4d4d;
  width: 21cm;
  height: 29.7cm;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
